## Bible Analytics

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('kjv.csv')
data = data.drop('version_name', axis=1)
data = data.drop('version_abbr', axis=1)
data = data.drop('testament_abbr', axis=1)

,testament_name,book_name,book_number,chapter_number,verse_number,verse_text
0,Old Testament,Genesis,1,1,1,In the beginning God created the heaven and th...
1,Old Testament,Genesis,1,1,2,"And the earth was without form, and void; and ..."
2,Old Testament,Genesis,1,1,3,"And God said, Let there be light: and there wa..."
3,Old Testament,Genesis,1,1,4,"And God saw the light, that it was good: and G..."
4,Old Testament,Genesis,1,1,5,"And God called the light Day, and the darkness..."